@import "tailwindcss";

.hero-title {
  font-family: "Josefin Sans", sans-serif;
}

/* Slow continuous rotation */
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ninja-spin {
  animation: spin-slow 6s linear infinite;
}

/* Hover par fast spin */
@keyframes spin-fast {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ninja-spin-fast {
  animation: spin-fast 0.6s linear infinite !important;
}
