@import "tailwindcss";

.hero-title {
  font-family: "Josefin Sans", sans-serif;
}

/* ===== HIDE GOOGLE TRANSLATE TOP BAR ===== */
.goog-te-banner-frame {
  display: none !important;
}

.goog-te-gadget {
  display: none !important;
}

iframe[src*="translate.google"] {
  display: none !important;
}

body {
  top: 0 !important;
}
